.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#company-name h1{
  background-image: linear-gradient(to right, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

#company-name{
  background-color: black;
  border-radius: 60%;
  height: 14em;
  width: 15em;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 1em;
}