li{
    list-style: none;
    color: black;
    font-weight: bolder;
}

#nav-links{
    display: flex;
    gap: 2em;
    justify-content: center;
}

#nav-page{
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 1em;
    background-image: linear-gradient(to right, blue, green, yellow, orange, red);
    color: black; 
    
}

#craft-logo{
    width: 2em;
    height: 2em;
    border-radius: 60%;
}