li{
    list-style: none;
    color: black;
    font-weight: bolder;
}

#nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

#nav-page{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, blue, green, yellow, orange, red);
    color: black; 
    font-size: larger;
    width: 100%;
}

#craft-logo{
    width: 2.5em;
    height: 2.5em;
    border-radius: 60%;
}